#{set theme: "${user.theme}"/}
#{extends 'main.html' /}
#{set title:"Venter.ie Page of ${user.firstName} ${user.lastName}" /}

#{include 'nav/open.html' /}
<li class="active"> <a href="/home"> Home </a></li>
<li> <a href=@{UsersBrowser.index("all")}> Users </a> </li>
<li > <a href=""      > Blogs </a></li>
<li id="newblog">   
  <a href="#" 
    rel="popover"    
    data-toggle="popover" 
    title="New Blog" data-placement="below" 
    data-html="true" title="Popover on bottom"
    >New blog
  </a>
  <!--popover content-->
  <div id="popover_content_wrapper" style="display: none">
    <form class="form-vertical well" action="@{BlogView.newBlog(name)}" method="POST">
      <fieldset>
        <legend>Blog Name</legend>
        <div class="control-group">
          <div class="controls">
            <input class="input-block-level" type="text" name="name" id="name" placeholder="New Blog Name"> 
          </div>
        </div>
        <div class="well form-actions well-small">
          <button class="btn btn-primary" type="submit" value="Save">Save</button>
          <a href="/home">
            <button class="btn btn-primary" type="button" >Cancel</button>
          </a>
        </div>
      </fieldset>
    </form>
  </div>
  <script>
  $(function(){
  	$('[rel=popover]').popover({ 
  		html : true, 
  		content: function() {
  			return $('#popover_content_wrapper').html();
  			}
  	});
  	});
  </script>
<!--END-->
</li>
#{include 'nav/close.html' /}
<!--NAV BAR END-->

<div class="row-fluid">
  <div class="span4">
    <div class="well text-well">     
      <h4> Hello: ${user.firstName} ${user.lastName} <br>age:${user.age}</h4>
    </div>  
      <div class="container span9">
        <form class="well form-horizontal" action="/register" method="POST">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Your Blogs (${user.blogs.size()})</th>
              </tr>
            </thead>
            <tbody>
            #{list items:user.blogs, as:'blog'}
              <tr>
                <td>${user.getBlogIndex(blog)}</td>
                <td>
                  <a href="@{BlogView.readBlog(blog.id,0)}">
                    <strong>${blog.getName()}</strong> 
                  </a>
                  <a href="@{Home.deleteBlog(blog.id)}" class="btn btn-mini pull-right">Delete</a> 
                  <h6>No. of posts[${blog.posts.size()}] </h6>
                </td>
              </tr>
            #{/list}
            </tbody>
          </table>
        </form>
      </div>
  </div>
</div>