#{extends 'main.html' /}
#{set title:"Venter.ie Page of ${user.firstName} ${user.lastName}" /}

#{include 'nav/open.html' /}
          <li class="active"> <a href="/home"> Home </a></li>
          <li>                <a href="/blogview/newblog">New Blog</a></li>
		  <li> 
		    <div class="btn-group">
              <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Action
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li> <a href="#">First Link</a> </li>
                <li><a href="#">Second Link</a> </li>
                <li><a href="#">Third Link</a> </li>
              </ul>
            </div>
          </li>
          <li > <a class="pull-right" href="/logout"> Logout  </a></li>
#{include 'nav/close.html' /}

<div class="row-fluid">
  <div class="span4">
    <div class="well text-well">     
      <h4> Hello: ${user.firstName} ${user.lastName} <br>age:${user.age}</h4>
    </div>  
      <div class="container span9">
        <form class="well form-horizontal" action="/register" method="POST">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Your Blogs (${user.blogs.size()})</th>
              </tr>
            </thead>
            <tbody>
            #{list items:user.blogs, as:'blog'}
              <tr>
                <td>${user.getBlogIndex(blog)}</td>
                <td><a href="@{BlogView.readBlog(blog.id)}">
                <strong>${blog.getName()}</strong> No. of posts[${blog.posts.size()}]</a></td>
              </tr>
            #{/list}
   
            </tbody>
          </table>
        </form>
      </div>
  </div>
  