#{extends 'main.html' /}
#{set title:"Spacebook Home Page for ${user.firstName} ${user.lastName}" /}

#{include 'nav/open.html' /}
          <li class="active"> <a href="/home"> Home </a></li>
          <li>                <a href="/blogslist">Blogs</a></li>
		  <li> 
		    <div class="btn-group">
              <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Action
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li> <a href="#">First Link</a> </li>
                <li><a href="#">Second Link</a> </li>
                <li><a href="#">Third Link</a> </li>
              </ul>
            </div>
          </li>
          <li > <a class="pull-right" href="/logout"> Logout  </a></li>
#{include 'nav/close.html' /}

<div class="row-fluid">
  <div class="span3">
    <div class="well text-well">     
      <h4> Hello: ${user.firstName} ${user.lastName} age:${user.age}</h4>
    </div>  
      <div class="container span9">
        <form class="well form-horizontal" action="/register" method="POST">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Your Blogs</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Michael [no.of posts]</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Jake
                  <span style="font-size: 14px;">&nbsp;</span>
                  <span style="font-size: 14px;">[no.of posts]</span> 
                </td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
  </div>
  