#{set theme: "${user.theme}"/}
#{extends 'main.html' /}
#{set title:'Venter users' /}

#{include 'nav/open.html' /}
<li>                <a href="/home" > Home  </a></li>
<li class="active"> <a href=@{UsersBrowser.index("all")}> Users </a> </li>
<li > <a href="@{BlogView.findBlog("all")}"      > Browse Blogs </a></li>

#{include 'nav/close.html' /}



<div class="container-fluid">
  <div class="row-fluid">
    <h2> Members </h2>
  </div>
  <div class="span6">
    <table class="table table-bordered ">
    #{if users.size()>0 }
    #{list items:users, as:'profile'}
      <tr>
        <td id="message-thumbnail">
          <img class="img-rounded span1" src="@{ProfileViewer.getThumbnail(profile.id)}"/>
        </td>
        <td>
        <a href="@{ProfileViewer.index(profile.id)}">
          <strong>${profile.firstName}, ${profile.lastName}: </strong>
          </a> 
        </td>
        <td><strong>Blogs:</strong> ${profile.blogs.size()}</td>
      </tr>
    #{/list}
    #{/if}
    #{else}
      <tr>
        <td id="message-thumbnail">
          <img class="img-rounded span1" src="../public/images/not_found.png"/>
        </td>
        <td>
          <strong>User not found</strong> 
        </td>
      </tr>
    #{/else}
    </table> 
  </div>
</div>