<div class="hero-unit">
  <h1>About Venter</h1>
  <p>One of the guys told me to take my head out of my BOTTOM and
    get back to work…my BOTTOM! Hahahaha. I never thought I'd miss a
    hand so much! Are all the guys in here… you know? George Sr: No not
    all of them. Barry: Yeah. It's never the ones you hope. I've always
    been deeply passionate about nature. Perhaps you remember
    Neuterfest? George Michael may be suffering from what we in the
    soft-sciences call Obsessive Compulsive Disorder, or the "OC
    Disorder." There are very few intelligent, attractive and straight
    men in this town. Well, that certainly leaves me out. For there's a
    man inside me, and only when he's finally out, can I walk free of
    pain. Michael, you are not quite the ladies man I had pictured.
    Hopefully, we will remedy that when we are in the spa spreading body
    chocolate on each other.
  </p>
</div>