<div class="hero-unit">
  <h1>Terms and conditions</h1>


<p>Don't leave your Uncle T-bag hanging. Buster, what are you doing
  with mother's rape-horn? Or it could be your colon. I'd want to get in
  there and find some answers. Stop licking my hand, you horse's ass.

  Nellie is blowing them all AWAY. No, no, it's pronounced
  a-nal-ra-pist. A million [bleep]ing diamonds! Stop licking my hand,
  you horse's ass! ♪♪ And the thought of rubbin' you is getting so
  exciting. Sky rockets in flight! Afternoon delight! ♪♪ Mr. Zuckerkorn,
  you've been warned about touching. You said spanking. OH MY GOD, WE'RE
  HAVING A FIRE… sale. Oh, the burning! ♪♪ Amaaaaaaziiiing Graaaace ♪♪
  God knows they're squinters. He… she… what's the difference? Oh hear,
  hear. In the dark, it all looks the same. It's a wonderful restaurant!
  Buster, what are you doing with mother's rape-horn? It's a wonderful
  restaurant! I am going to my spin class. I thought you had vertigo.
  Mister gay is bleeding! Mister gay! Yes, Annyong. Your name is
  Annyong! We all know you're Annyong! This show was cancelled. I mean,
  COME ON. Did you enjoy your lunch, mom? You drank it fast enough. I
  need a fake passport, preferably to France… I like the way they think.
  Oh, COME ON! Buster's in what we like to call a light to no coma. In
  layman's terms, it might be considered a very heavy nap. With spicy
  club sauce. Those are balls. I want to cry so bad, but I don't think I
  can spare the moisture. They want to break his legs. It's a good thing
  he's already got that little scooter. A million ****ing diamonds!
  Absolutely. And we're going to be here every day. I don't care if it
  takes from now till the end of Shrimpfest. Look what the homosexuals
  have done to me! You can't just comb that out and reset it? A lady of
  the evening. Working girl. She turns illusions for money. It was for
  me. I was going to smoke the marijuana like a cigarette. I'll buy you
  a hundred George Michaels that you can teach to drive! That was Tom
  Cruise, the actor. Lucille: They said he was some kind of scientist.
  The only person that gets Lucille this excited is Gene. Why are you
  squeezing me with your body? It's a hug, Michael. I'm hugging you. Bob
  Loblaw Lobs Law Bomb. I am having a love affair with this ice cream
  sandwich. In fact, it was a box of Oscar's legally obtained medical
  marijuana. Primo bud. Real sticky weed. Let me out that Queen.</p>
</div>