<!DOCTYPE html>

<html>
    <head>
        <title>Not found</title>
        <meta http-equiv="Content-Type" content="text/html; charset=${_response_encoding}"/>    
    </head>
    <body>
        #{if play.mode.name() == 'DEV'}
            #{404 result /}
        #{/if}
        #{else}
        <a href="http://en.wikipedia.org/wiki/HTTP_404" >
        <img src="http://www.iexposure.com/system/assets/posts/28/large/creative_404_error_pages_.jpg" class="img-circle">
</a>


        #{/else}
    </body>
</html>
