#{extends 'main.html' /}
#{set title:"Spacebook: ${user.firstName} ${user.lastName}'s Home Page" /}

#{include 'nav/open.html' /}
  <li>                <a href="/home">        Home    </a></li>
  <li>                <a href="/members">     Members </a></li>
  <li>                <a href="/blog/membersblog/${user.id}">     ${user.firstName}'s Blog </a></li>          
  <li>                <a href="/logout">      Logout  </a></li>
#{include 'nav/close.html' /}

<div class="row-fluid">
  <div class="span4">    
    <p>${user.firstName} ${user.lastName}, ${user.nationality}</p>  
    <p><img src="/homeprofile/getpicture/${user.id}"/></p> 
    <p>${user.statusMessage}</p>    
    <form action="/userprofile/leavemessage/${user.id}" method="post">         
      <textarea name="message" cols="30" rows="2" ></textarea>     
      <input type="submit" name="submit" value="Leave Message"  />  
    </form>    
  </div>  
  <div id="span8">
    <h4> Messages </h4> 
      #{if usermessages.size() > 0}
        <ul>
          #{list items:usermessages, as:'usermessage'}
            <li> ${usermessage.from.firstName} says ${usermessage.messageText} </li>
          #{/list}
        </ul>
      #{/if} 
  </div>
</div>

