#{extends 'main.html' /}
#{set title:"Spacebook Blog of ${user.firstName} ${user.lastName}" /}

#{include 'nav/open.html' /}
          <li>                <a href="/home">        Home    </a></li>
          <li>                <a href="/members">     Members </a></li>
          <li>                <a href="/userprofile/${user.id}">     Back to ${user.firstName}`s Profile </a></li>
          <li class="active"> <a href="/blog/membersblog/${user.id}">        ${user.firstName}`s Blog </a></li>          
          <li>                <a href="/logout">      Logout  </a></li>
#{include 'nav/close.html' /}

<div class="row-fluid">
  <div class="span8"> 
    #{list items:posts, as:'post'}
      <h1><a href="@{BlogPost.membersShow(post.id, user.id)}"> ${post.title} </a></h1>
      <p>Posted: ${post.postedAt.format('dd MMM yy')} at: ${post.postedAt.format('hh:mm')}</p>    
      <hr>
    #{/list}      
  </div>
</div>  
