#{extends 'main.html' /}
#{set title:"Spacebook Blog Post : ${post.title}" /}

#{include 'nav/open.html' /}
          <li class="active"> <a href="/blog/membersblog/${user.id}">Back to ${user.firstName}`s Blog </a></li>          
#{include 'nav/close.html' /}

<div class="row-fluid">
  <div class="span8">    
    <h1> ${post.title} </h1> 
    <p> ${post.content}: </p>
    <hr>
    <div class="span8">
      #{list items:post.comments, as:'comment'}
        <p>${comment.author} Says: ${comment.content} </p>
        <p>${comment.postedAt.format('dd MMM yy')} at: ${comment.postedAt.format('hh:mm')}</p>             
        <hr>
      #{/list} 
    </div>
  </div>
</div>
<div class="row-fluid">
  <div id="span8">
    <form action="@{BlogPost.comment(post.id,content, user.id)}" method="post">         
      <input type="hidden" name="postid" value=${post.id}>         
      <label> Content </label>   
      <textarea name="content" class="field span8"  rows="8" ></textarea>    
      <input type="submit" name="submit" value="New Comment"  /> 
    </form>   
  </div>  
</div>
