#{extends 'main.html' /}
#{set title:'Your blogs' /}

#{include 'nav/open.html' /}
<li>                <a href="/home" > Home  </a></li>
<li class="active"> <a href=""      > Blogs </a></li>
<li> 
  <div class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Action
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li> 
        <!-- Button to trigger modal -->
        <a href="#myModal" role="button" class="btn" data-toggle="modal">Add new post</a>
      </li>
      <li><a href="#">Second Link</a> </li>
      <li><a href="#">Third Link</a> </li>
    </ul>
  </div>
</li>
<li > <a class="pull-right" href="/logout"> Logout  </a></li>

#{include 'nav/close.html' /}

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h3 id="myModalLabel">New Post</h3>
  </div>
  <div class="modal-body ">
    <form action="@{BlogView.newPost()}" method="post">    
      <label> Title </label> 
        <textarea name="title" class="field span6"  rows="1" ></textarea>   
      <label> Content </label>          
        <textarea name="content" class="field span6"  rows="8" ></textarea> 
        <p> 
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary"type="submit" name="submit" value="New Post">Save changes</button>
    </p>
    </form> 
  </div>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <h2> <strong>${blog.getName()}</strong> </h2>
  </div>
  
  <div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">…</div>
    <div class="item">…</div>
    <div class="item">…</div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="@{BlogView.readBlog(blog.id, 1)" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="@{BlogView.readBlog(blog.id, -1)" data-slide="next">&rsaquo;</a>
</div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
        #{list items:posts, as:'post'}
<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
        <a href="@{BlogView.deletepost(post.id)}" class="btn btn-mini pull-right">Delete</a>
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#${post.id}">
        <strong>${post.title}</strong></a>
		<p>Posted: ${post.postedAt.format('dd MMM yy')} at: ${post.postedAt.format('hh:mm')}</p>
    </div>
    <div id="${post.id}" class="accordion-body collapse in">
      <div class="accordion-inner"> 
        <p>${post.content}   </p>
        <p class="pull-right">${post.author}   </p>
      </div>
    </div>
  </div>
        #{/list}
 </div>
 
 
 
 
 
 </div>
 