#{set theme: "${user.theme}"/}
#{extends 'main.html' /}
#{set title:'Your blogs' /}

#{include 'nav/open.html' /}
<li>                <a href="/home" > Home  </a></li>
<li> <a href=@{UsersBrowser.index("all")}> Users </a> </li>
<li class="active"> <a href=""      > Blogs </a></li>
<li> 
  <div class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Action
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li> 
        <!-- Button to trigger modal -->
        <a href="#myModal" role="button" class="btn" data-toggle="modal">Add new post</a>
      </li>
      <li><a href="#">Second Link</a> </li>
      <li><a href="#">Third Link</a> </li>
    </ul>
  </div>
</li>
<li > <a class="pull-right" href="/logout"> Logout  </a></li>

#{include 'nav/close.html' /}
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
  #{if user == blog.author}
    <h3 id="myModalLabel">New Post</h3>
  </div>
  <div class="modal-body ">
    <form action="@{BlogView.newPost(title2, content,blog.id)}" method="POST">
    <fieldset>   
      <label> Title </label> 
        <textarea name="title2" id="title2" class="field span6"  rows="1" ></textarea>   
      <label> Content </label>          
        <textarea name="content" id="content" class="field span6"  rows="8" ></textarea> 
      <p> 
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary"type="submit" name="submit" value="New Post">Save changes</button>
      </p>
    </fieldset> 
    </form>
   #{/if}
   #{else}
   <div class="modal-body ">
     <div class="alert alert-block">
       <h2>Warning!</h2>
       <h4>This is not your blog.</h4>
     </div>
   #{/else} 
  </div>
</div>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <h2> <strong>${blog.getName()}</strong> </h2>
  </div>
  
<!--   carousel -->
  <div id="myCarousel" class="carousel slide">
  
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
    #{if user == blog.author}
      <a href="@{BlogView.deletepost(post.id, blog.id)}" class="btn btn-mini pull-right">Delete</a>
    #{/if}
      <strong>${post.title}</strong></a>
      <p>Posted: ${post.postedAt.format('dd MMM yy')} at: ${post.postedAt.format('hh:mm')}</p>
      <p>${post.content}   </p>
      <p class="pull-right">${post.author}</p>
      
<!--       accordion comments -->
      #{list items:post.comments, as:'comment'}
      <div class="container-fluid">
      <div class="accordion" id="accordion2">
        <div class="accordion-group">
          <div class="accordion-heading">
          #{if user == comment.author}
            <a href="@{BlogView.deletecomment(blog.id,post.id, comment.id)}" class="btn btn-mini pull-right">Delete Comment</a>
          #{/if}  
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion${comment.id}" href="#${comment.id}">
            <strong>${comment.author}</strong></a>
            <p>Posted: ${comment.postedAt.format('dd MMM yy')} at: ${comment.postedAt.format('hh:mm')}</p>
          </div>
          <div id="${comment.id}" class="accordion-body collapse in">
            <div class="accordion-inner"> 
              <p>${comment.content}   </p>
              <p class="pull-right">${comment.author}   </p>
            </div>
          </div>
        </div>
      </div>
      </div>
      #{/list}
      
      <form class="form-vertical well" action="@{BlogView.newcomment(content, post.id, blog.id)}" method="POST">
      <fieldset>
            <legend>New Comment</legend>
        <div class="control-group">
          <div class="controls">
          <textarea class="row-fluid" rows="3"name="content" id="content" >comment...</textarea>
          </div>
        </div>
        <div class="well form-actions well-small">
          <button class="btn btn-primary" type="submit" value="Save">Save</button>
        </div>
      </fieldset>
    </form>
      
 </div>
  </div>
  <!-- Carousel nav -->
</div>
  <a class="carousel-control left" href="@{BlogView.readBlog(blog.id, (-1))}" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="@{BlogView.readBlog(blog.id,1)}" data-slide="next">&rsaquo;</a>
 </div>
 