<!DOCTYPE html>
<html>
  <head>
    <title> Venter </title>
    <link rel="stylesheet" href="@{'/public/bootstrap/css/bootstrap.css'}">
    <link rel="stylesheet" href="@{'/public/bootstrap/css/bootstrap-responsive.css'}">
    <link rel="stylesheet" href="@{'/public/bootstrap/themes/google/google-bootstrap.css'}">
    <script src="@{'/public/bootstrap/js/jquery.min.js'}"></script>
    <script src="@{'/public/bootstrap/js/bootstrap.min.js'}"></script>
    
    

  </head>
  <body>
    <div class="container-fluid">
      #{doLayout /}
    </div>
  </body>
</html>