<li class="offset2">
<ul class="nav">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Search
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <form class="navbar-search pull-left" action=@{BlogView.findBlog(name)} >
          <input type="text" class="search-query" id="name" name="name" placeholder="find blog">
        </form>
      </li>
      <li>
        <form class="navbar-search pull-left" action=@{UsersBrowser.index(name)}>
          <input type="text" class="search-query" id="name" name="name" placeholder="find user">
        </form>
      </li>
      <li>
        <form class="navbar-search pull-left" >
          <input type="text" class="search-query" placeholder="find post">
        </form>
      </li>
    </ul>
  </li>
</ul>
</li>