<li class="pull-right offset2" >
  <form id="themes" action="@{Home.settheme()}" method="post">
    <div class="inline-field">
        <fieldset>
        <select name="theme"  id="theme">
          <option value="/public/bootstrap/themes/amelia/bootstrap.css">Amelia</option>
          <option value="/public/bootstrap/css/bootstrap.css">Bootstrap (Default)</option>
          <option value="/public/bootstrap/themes/cerulean/bootstrap.css">Cerulean</option>
          <option value="/public/bootstrap/themes/cosmo/bootstrap.css">Cosmo</option>
          <option value="/public/bootstrap/themes/cyborg/bootstrap.css">Cyborg</option>
          <option value="/public/bootstrap/themes/flat-ui/flat-ui.css">Flat UI</option>
          <option value="/public/bootstrap/themes/geo/bootstrap.css">Geo</option>
          <option value="/public/bootstrap/themes/google/google-bootstrap.css">Google</option>
          <option value="/public/bootstrap/themes/inspiritas/bootstrap.css">Inspiritas</option>
          <option value="/public/bootstrap/themes/journal/bootstrap.css">Journal</option>
          <option value="/public/bootstrap/themes/readable/bootstrap.css">Readable</option>
          <option value="/public/bootstrap/themes/retriever/bootstrap.css">Retriever</option>
          <option value="/public/bootstrap/themes/simplex/bootstrap.css">Simplex</option>
          <option value="/public/bootstrap/themes/slate/bootstrap.css">Slate</option>
          <option value="/public/bootstrap/themes/spacelab/bootstrap.css">Spacelab</option>
          <option value="/public/bootstrap/themes/spruce/bootstrap.css">Spruce</option>
          <option value="/public/bootstrap/themes/superhero/bootstrap.css">Superhero</option>
          <option value="/public/bootstrap/themes/united/bootstrap.css">United</option>
          <option rel="custom" value="">Custom</option>
        </select>
        <button class="btn" type="submit" value="theme">Set</button>
      </fieldset>
    </div>
</form> 
</li>
