<li>
<div class="btn-group ">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Change theme
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li> <a href="@{Home.settheme("/public/bootstrap/themes/amelia/bootstrap.css")}">Amelia</a></li>
    <li> <a href="@{Home.settheme("/public/bootstrap/css/bootstrap.css")}">Bootstrap (Default)</a></li>
    <li> <a href="@{Home.settheme("/public/bootstrap/themes/cerulean/bootstrap.css")}">Cerulean</a></li>
    <li> <a href="@{Home.settheme("/public/bootstrap/themes/cosmo/bootstrap.css")}">Cosmo</a></li>
    <li> <a href="@{Home.settheme("/public/bootstrap/themes/cyborg/bootstrap.css")}">Cyborg</a></li>
    <li> <a href="@{Home.settheme("/public/bootstrap/themes/flat-ui/flat-ui.css")}">Flat UI</a></li>
    <li> <a href="@{Home.settheme("/public/bootstrap/themes/geo/bootstrap.css")}">Geo</a></li>
    <li> <a href="@{Home.settheme("/public/bootstrap/themes/google/google-bootstrap.css")}">Google</a></li>
    <li> <a href="@{Home.settheme("/public/bootstrap/themes/inspiritas/bootstrap.css")}">Inspiritas</a></li>
    <li> <a href="@{Home.settheme("/public/bootstrap/themes/journal/bootstrap.css")}">Journal</a></li>
    <li> <a href="@{Home.settheme("/public/bootstrap/themes/readable/bootstrap.css")}">Readable</a></li>
    <li> <a href="@{Home.settheme("/public/bootstrap/themes/retriever/bootstrap.css")}">Retriever</a></li>
    <li> <a href="@{Home.settheme("/public/bootstrap/themes/simplex/bootstrap.css")}">Simplex</a></li>
    <li> <a href="@{Home.settheme("/public/bootstrap/themes/slate/bootstrap.css")}">Slate</a></li>
    <li> <a href="@{Home.settheme("/public/bootstrap/themes/spacelab/bootstrap.css")}">Spacelab</a></li>
    <li> <a href="@{Home.settheme("/public/bootstrap/themes/spruce/bootstrap.css")}">Spruce</a></li>
    <li> <a href="@{Home.settheme("/public/bootstrap/themes/superhero/bootstrap.css")}">Superhero</a></li>
    <li> <a href="@{Home.settheme("/public/bootstrap/themes/united/bootstrap.css")}">United</a></li>
  </ul>
</div>
</li>