#{set theme:'/public/bootstrap/themes/cyborg/bootstrap.css'/}
#{extends 'main.html' /}
#{set title:'Vent a bit' /}

<div class="hero-unit">
  <h1 class="pull-left">Venter</h1>
  <div class="row">
    <p>Vent a bit, it`s free</p>
  </div>
  <a class="btn  btn-success offset9" href="/signup"> Signup</a>
</div>
<div class="row-fluid">
  <div class="container span7">
    <ul class="nav nav-tabs">
      <li><a href="#posts" data-toggle="tab">Latest post</a></li>
      <li><a href="#about" data-toggle="tab">About</a> </li>
    </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="posts">  
      #{include '/tags/latests.html'/}
    </div>
    <div class="tab-pane" id="about">
      #{include 'tags/about.html'/} 
    </div>
  </div>
  </div>
  <form class="form-vertical  span3 well" action="/authenticate" method="POST">
    <div class="control-group">
      <span class="label label-info">Login</span>
      <div class="controls">
        <input type="email" class="input-medium" name="email" id="email" placeholder="Email" required> 
        <input type="password" class="input-medium" name="password"  id="password" placeholder="Password" required> 
        <button class="btn btn-primary" type="submit" value="Login">Login</button>
      </div>
    </div>
  </form>
</div>
