#{extends 'main.html' /}
#{set title:'Create new Profile' /}

<div class="hero-unit">
  <h1 class="pull-left">Venter</h1>
  <div class="row">
    <p>Vent a bit, it`s free</p>
  </div>
</div>
<div class="container span9">
  <ul class="nav nav-tabs">
    <li><a href="#register" data-toggle="tab">Register</a> </li>
    <li><a href="#tcs" data-toggle="tab">TC`s</a> </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="register">  
      #{include '/tags/signup_form.html'/}
    </div>
    <div class="tab-pane" id="tcs">
      #{include 'tags/terms_conditions.html'/} 
    </div>
  </div>
</div>
